.bother_container {
  /* border: solid 1px white; */
}

.img_zoom_in {
  position: relative;
}

.square_one {
  position: absolute;
  left: 16%;
  top: -26%;
  width: 255px;
  opacity: 0;
}

.square_two {
  position: absolute;
  left: 50%;
  top: -24%;
  width: 205px;
  opacity: 0;
}

.square_three {
  position: absolute;
  left: 38%;
  top: -5%;
  width: 170px;
  opacity: 0;
}

.banner_one {
  position: absolute;
  left: 22%;
  top: -38%;
  width: 450px;
  opacity: 0;
}

.banner_two {
  position: absolute;
  left: 50.5%;
  top: -14%;
  width: 450px;
  opacity: 0;
}

.banner_three {
  position: absolute;
  left: 18.5%;
  top: 0%;
  width: 500px;
  opacity: 0;
}

.title {
  position: absolute;
  width: 500px;
  opacity: 0;
  top: -50%;
  left: -50%;
}

/* interactive design */

.ui_engineer {
  opacity: 0;
  width: 900px;
  position: absolute;
  right: -70%;
  top: -20%;
}

.designer {
  opacity: 0;
  width: 200px;
  position: absolute;
  left: 18%;
  top: 5%;
}

.ui_board {
  opacity: 0;
  width: 450px;
  position: absolute;
  left: 30%;
  top: 10%;
}

.engineer {
  opacity: 0;
  width: 200px;
  position: absolute;
  right: 20%;
  top: 40%;
}
.engineer_board {
  opacity: 0;
  width: 800px;
  position: absolute;
  right: 25%;
  top: 38%;
}
