.section3 {
  overflow: hidden;
}

.section3>.title {
  display: block;
  width: 80%;
  max-width: 1000px;
  opacity: 0;
  margin: 40px auto;
}

.section3>.ui-wrapper {
  margin: 40px auto;
  text-align: center;
}