.f2e_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.web_design {
  width: 80%;
  max-width: 900px;
}

.logo {
  width: 80%;
  max-width: 700px;
}

.scroll_down_square {
  border: solid 1px white;
  width: 110px;
  height: 110px;
  transform: rotateZ(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
}

.scroll_down_square p {
  font-weight: 300;
  font-size: 12px;
  line-height: 50px;
}

.scroll_down_square a {
  transform: rotateZ(-45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll_down_square img {
  width: 8px;
}